---
import { getCollection } from 'astro:content';
import CollectionLayout from '../../layouts/collectionLayout.astro';

const artists = await getCollection('artists');
const title = 'artists';
---

<html>
  <head><title>Artists</title></head>
  <body>
    <CollectionLayout title={title}>
    <ul>
      {artists.map(artist => (
        <div>
          <a href={`/artists/${artist.id}`}>
            <img src={artist.data.image} alt={artist.data.name} width="100" />
            {artist.data.name}
          </a>
        </div>
      ))}
    </ul>
  </body>
</html>
  </CollectionLayout>