---
const { project } = Astro.props;
---

<style>


</style>


<h1>{project.data.title}</h1>
<p>{project.data.author}</p>

{project.data.image && (
  <img src={project.data.image} alt={project.data.title} />
)}

<a href={project.data.website} target="_blank" rel="noopener noreferrer">
  project site
</a>
