---
const {platform, endpoint} = Astro.props;
---

<a href={`https://www.${platform}.com/${endpoint}`} target="_blank" rel="noopener">{platform}</a>
  <!-- <img src={`/images/${platform}.svg`} alt="${platform} icon" /> -->