---
import { getCollection } from 'astro:content';
import CollectionLayout from '../../layouts/boilerplate.astro';

const artefacts = await getCollection('artefacts');
const pageTitle = 'artefacts';
---

<CollectionLayout title={pageTitle}>
  <ul>
    {artefacts.map(artefact => (
      <p>
        <a href={`/artefacts/${artefact.id}`}>
          <img src={artefact.data.image} alt={artefact.data.item} width="100" />
          {artefact.data.item} - ${artefact.data.price.toFixed(2)}
        </a>
      </p>
    ))}
  </ul>
</CollectionLayout>

